@media only screen and (max-width: 1024px){
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
h1 { font-size: 40px;}h2 { font-size: 32px;}h3 { font-size: 27px;}}

@media only screen and (min-width: 681px) and (max-width: 768px){
h1 { font-size: 40px;}h2 { font-size: 32px;}h3 { font-size: 27px;}}

@media only screen and (max-width: 680px){
h1 { font-size: 38px;}h2 { font-size: 30px;}h3 { font-size: 26px;}.error404 .mkdf-page-not-found .mkdf-404-subtitle { font-size: 40px;line-height: 45px;}}