/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.mkdf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-center {
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-left {
  text-align: left;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-right {
  text-align: right;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
  padding: 95px 0 22px 0;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-full-width {
  padding: 95px 70px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #5b5b5b;
  text-align: center;
  color: #8a8a8a;
  font-size: 12px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .widget {
  color: #8a8a8a;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .widget a {
  color: inherit;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .widget a:hover {
  color: inherit;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid {
  padding: 13px 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-full-width {
  padding: 13px 40px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .widget {
  margin: 0 0 1px;
}

.no-touch body:not(.error404) .mkdf-page-footer.mkdf-footer-uncover {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.mkdf-right-side-menu-opened .mkdf-page-footer.mkdf-footer-uncover {
  left: -270px;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
